In [36]:
import numpy as np
import pandas as pd
from collections import defaultdict

raw_df = pd.read_csv('../data/adult.csv')
prep_df = pd.DataFrame(columns=raw_df.columns)
categorical_columns = []
to_concat = []
constraints_dict = defaultdict(lambda: list())
raw_df.head(5)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [37]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

AGE

In [38]:
raw_df['age'].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [39]:
to_concat.append(raw_df['age'].to_frame())
constraints_dict['age'].append('non-negative')

WORKCLASS

In [40]:
raw_df['workclass'].describe()

count       32561
unique          9
top       Private
freq        22696
Name: workclass, dtype: object

In [41]:
categorical_columns.append('workclass')
raw_df['workclass'].unique()

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked'],
      dtype=object)

In [42]:
raw_df['workclass'].replace('?', 'Unknown_workclass', inplace=True)

FNLWGT (excluded - weighting factor)

In [43]:
raw_df['fnlwgt'].describe()

count    3.256100e+04
mean     1.897784e+05
std      1.055500e+05
min      1.228500e+04
25%      1.178270e+05
50%      1.783560e+05
75%      2.370510e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64

Education (excluded because number of education years are enough)

In [44]:
print(raw_df['education'].unique())
raw_df['education'].describe()

['HS-grad' 'Some-college' '7th-8th' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-acdm' 'Assoc-voc' '1st-4th' '5th-6th'
 '12th' '9th' 'Preschool']

count       32561
unique         16
top       HS-grad
freq        10501
Name: education, dtype: object

In [45]:
# education_one_hot = pd.get_dummies(raw_df['education'])
# to_concat.append(education_one_hot)

# # Add constraints for columns
# for column in education_one_hot.columns:
#     constraints_dict[column].append('onehot')
    
# education_one_hot

Education num

In [46]:
raw_df['education.num'].describe()
to_concat.append(raw_df['education.num'].to_frame())
constraints_dict['education.num'].append('non-negative')

Martial status

In [47]:
print(raw_df['marital.status'].unique())
raw_df['marital.status'].describe()

['Widowed' 'Divorced' 'Separated' 'Never-married' 'Married-civ-spouse'
 'Married-spouse-absent' 'Married-AF-spouse']

count                  32561
unique                     7
top       Married-civ-spouse
freq                   14976
Name: marital.status, dtype: object

In [48]:
categorical_columns.append('marital.status')
constraints_dict['marital.status'].append('onehot')

Occupation

In [49]:
print(raw_df['occupation'].unique())
raw_df['occupation'].describe()

['?' 'Exec-managerial' 'Machine-op-inspct' 'Prof-specialty'
 'Other-service' 'Adm-clerical' 'Craft-repair' 'Transport-moving'
 'Handlers-cleaners' 'Sales' 'Farming-fishing' 'Tech-support'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']

count              32561
unique                15
top       Prof-specialty
freq                4140
Name: occupation, dtype: object

In [50]:
raw_df['occupation'].replace('?', 'Unknown_occupation', inplace=True)

In [51]:
categorical_columns.append('occupation')
constraints_dict['occupation'].append('onehot')

Relationship (excluded can be inferred from gender and martial status)

In [52]:
print(raw_df['relationship'].unique())
raw_df['relationship'].describe()

['Not-in-family' 'Unmarried' 'Own-child' 'Other-relative' 'Husband' 'Wife']

count       32561
unique          6
top       Husband
freq        13193
Name: relationship, dtype: object

Race

In [53]:
print(raw_df['race'].unique())
raw_df['race'].describe()

['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']

count     32561
unique        5
top       White
freq      27816
Name: race, dtype: object

In [54]:
categorical_columns.append('race')
constraints_dict['race'].append('onehot')
constraints_dict['race'].append('non-actionable')

Sex

In [55]:
print(raw_df['sex'].unique())
raw_df['sex'].describe()

['Female' 'Male']

count     32561
unique        2
top        Male
freq      21790
Name: sex, dtype: object

In [56]:
categorical_columns.append('sex')
constraints_dict['sex'].append('onehot')
constraints_dict['sex'].append('non-actionable')

capital.gain

In [57]:
raw_df['capital.gain'].describe()

count    32561.000000
mean      1077.648844
std       7385.292085
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital.gain, dtype: float64

In [58]:
to_concat.append(raw_df['capital.gain'].to_frame())
constraints_dict['capital.gain'].append('non-negative')

capital.loss

In [59]:
raw_df['capital.loss'].describe()

count    32561.000000
mean        87.303830
std        402.960219
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       4356.000000
Name: capital.loss, dtype: float64

In [60]:
to_concat.append(raw_df['capital.loss'].to_frame())
constraints_dict['capital.loss'].append('non-negative')

hours.per.week

In [61]:
raw_df['hours.per.week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours.per.week, dtype: float64

In [62]:
to_concat.append(raw_df['hours.per.week'].to_frame())
constraints_dict['hours.per.week'].append('non-negative')

native.country

In [63]:
raw_df['native.country'].replace('?', 'Unknown_country', inplace=True)

In [64]:
raw_df['native.country'].describe()
constraints_dict['native.country'].append('non-actionable')
categorical_columns.append('native.country')

income

In [65]:
raw_df['income'].describe()
raw_df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [66]:
# categorical_columns.append('income')
# constraints_dict['income'].append('onehot')
to_concat.append(raw_df['income'].to_frame())

CONCAT

In [74]:
constraints_on_features = defaultdict(lambda: list())
categorical_columns_final = []

for feature in categorical_columns:
    dummies = pd.get_dummies(raw_df[feature])
    categorical_columns_final += dummies.columns.tolist()
    to_concat.append(dummies)

    # Add constraints for columns
    for column in dummies.columns:
        constraints_on_features[column].append('onehot')

        if 'non-actionable' in constraints_dict[feature]:
            constraints_on_features[column].append('non-actionable')

In [68]:
final_df = pd.concat(to_concat, axis=1)
final_df.columns

Index(['age', 'education.num', 'capital.gain', 'capital.loss',
       'hours.per.week', 'income', 'Federal-gov', 'Local-gov', 'Never-worked',
       'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'State-gov',
       'Unknown_workclass', 'Without-pay', 'Divorced', 'Married-AF-spouse',
       'Married-civ-spouse', 'Married-spouse-absent', 'Never-married',
       'Separated', 'Widowed', 'Adm-clerical', 'Armed-Forces', 'Craft-repair',
       'Exec-managerial', 'Farming-fishing', 'Handlers-cleaners',
       'Machine-op-inspct', 'Other-service', 'Priv-house-serv',
       'Prof-specialty', 'Protective-serv', 'Sales', 'Tech-support',
       'Transport-moving', 'Unknown_occupation', 'Amer-Indian-Eskimo',
       'Asian-Pac-Islander', 'Black', 'Other', 'White', 'Female', 'Male',
       'Cambodia', 'Canada', 'China', 'Columbia', 'Cuba', 'Dominican-Republic',
       'Ecuador', 'El-Salvador', 'England', 'France', 'Germany', 'Greece',
       'Guatemala', 'Haiti', 'Holand-Netherlands', 'Honduras', 'Hong',
       'Hungary', 'India', 'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan',
       'Laos', 'Mexico', 'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South',
       'Taiwan', 'Thailand', 'Trinadad&Tobago', 'United-States',
       'Unknown_country', 'Vietnam', 'Yugoslavia'],
      dtype='object')

In [69]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         32561 non-null  int64
 1   education.num               32561 non-null  int64
 2   capital.gain                32561 non-null  int64
 3   capital.loss                32561 non-null  int64
 4   hours.per.week              32561 non-null  int64
 5   income                      32561 non-null  object
 6   Federal-gov                 32561 non-null  uint8
 7   Local-gov                   32561 non-null  uint8
 8   Never-worked                32561 non-null  uint8
 9   Private                     32561 non-null  uint8
 10  Self-emp-inc                32561 non-null  uint8
 11  Self-emp-not-inc            32561 non-null  uint8
 12  State-gov                   32561 non-null  uint8
 13  Unknown_workclass           32561 non-null  uint8
 14  Without-pay                 32561 non-null  uint8
 15  Divorced                    32561 non-null  uint8
 16  Married-AF-spouse           32561 non-null  uint8
 17  Married-civ-spouse          32561 non-null  uint8
 18  Married-spouse-absent       32561 non-null  uint8
 19  Never-married               32561 non-null  uint8
 20  Separated                   32561 non-null  uint8
 21  Widowed                     32561 non-null  uint8
 22  Adm-clerical                32561 non-null  uint8
 23  Armed-Forces                32561 non-null  uint8
 24  Craft-repair                32561 non-null  uint8
 25  Exec-managerial             32561 non-null  uint8
 26  Farming-fishing             32561 non-null  uint8
 27  Handlers-cleaners           32561 non-null  uint8
 28  Machine-op-inspct           32561 non-null  uint8
 29  Other-service               32561 non-null  uint8
 30  Priv-house-serv             32561 non-null  uint8
 31  Prof-specialty              32561 non-null  uint8
 32  Protective-serv             32561 non-null  uint8
 33  Sales                       32561 non-null  uint8
 34  Tech-support                32561 non-null  uint8
 35  Transport-moving            32561 non-null  uint8
 36  Unknown_occupation          32561 non-null  uint8
 37  Amer-Indian-Eskimo          32561 non-null  uint8
 38  Asian-Pac-Islander          32561 non-null  uint8
 39  Black                       32561 non-null  uint8
 40  Other                       32561 non-null  uint8
 41  White                       32561 non-null  uint8
 42  Female                      32561 non-null  uint8
 43  Male                        32561 non-null  uint8
 44  Cambodia                    32561 non-null  uint8
 45  Canada                      32561 non-null  uint8
 46  China                       32561 non-null  uint8
 47  Columbia                    32561 non-null  uint8
 48  Cuba                        32561 non-null  uint8
 49  Dominican-Republic          32561 non-null  uint8
 50  Ecuador                     32561 non-null  uint8
 51  El-Salvador                 32561 non-null  uint8
 52  England                     32561 non-null  uint8
 53  France                      32561 non-null  uint8
 54  Germany                     32561 non-null  uint8
 55  Greece                      32561 non-null  uint8
 56  Guatemala                   32561 non-null  uint8
 57  Haiti                       32561 non-null  uint8
 58  Holand-Netherlands          32561 non-null  uint8
 59  Honduras                    32561 non-null  uint8
 60  Hong                        32561 non-null  uint8
 61  Hungary                     32561 non-null  uint8
 62  India                       32561 non-null  uint8
 63  Iran                        32561 non-null  uint8
 64  Ireland                     32561 non-null  uint8
 65  Italy                       32561 non-null  uint8
 66  Jamaica                     32561 non-null  uint8
 67  Japan                       32561 non-null  uint8
 68  Laos                        32561 non-null  uint8
 69  Mexico                      32561 non-null  uint8
 70  Nicaragua                   32561 non-null  uint8
 71  Outlying-US(Guam-USVI-etc)  32561 non-null  uint8
 72  Peru                        32561 non-null  uint8
 73  Philippines                 32561 non-null  uint8
 74  Poland                      32561 non-null  uint8
 75  Portugal                    32561 non-null  uint8
 76  Puerto-Rico                 32561 non-null  uint8
 77  Scotland                    32561 non-null  uint8
 78  South                       32561 non-null  uint8
 79  Taiwan                      32561 non-null  uint8
 80  Thailand                    32561 non-null  uint8
 81  Trinadad&Tobago             32561 non-null  uint8
 82  United-States               32561 non-null  uint8
 83  Unknown_country             32561 non-null  uint8
 84  Vietnam                     32561 non-null  uint8
 85  Yugoslavia                  32561 non-null  uint8
dtypes: int64(5), object(1), uint8(80)
memory usage: 4.0+ MB

In [86]:
import json
columns_order = list((set(final_df.columns) - set(categorical_columns_final) - set(['income']))) + categorical_columns_final + ['income']


with open('../data/adult_constraints.json', 'w') as f:
    constraints_on_features['features_order'] = columns_order
    json.dump(constraints_on_features, f)

In [87]:
final_df = final_df[columns_order]

,age,capital.loss,education.num,capital.gain,hours.per.week,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,...,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Unknown_country,Vietnam,Yugoslavia,income
0,90,4356,9,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,<=50K
1,82,4356,9,0,18,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,<=50K
2,66,4356,10,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,<=50K
3,54,3900,4,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,<=50K
4,41,3900,10,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,0,10,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,<=50K
32557,27,0,12,0,38,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,<=50K
32558,40,0,9,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,>50K
32559,58,0,9,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,<=50K
32560,22,0,9,0,20,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,<=50K

In [84]:
final_df.to_csv('../data/adult_cleaned.csv', index=False)

In [85]:
final_df.columns

Index(['age', 'education.num', 'capital.gain', 'capital.loss',
       'hours.per.week', 'income', 'Federal-gov', 'Local-gov', 'Never-worked',
       'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'State-gov',
       'Unknown_workclass', 'Without-pay', 'Divorced', 'Married-AF-spouse',
       'Married-civ-spouse', 'Married-spouse-absent', 'Never-married',
       'Separated', 'Widowed', 'Adm-clerical', 'Armed-Forces', 'Craft-repair',
       'Exec-managerial', 'Farming-fishing', 'Handlers-cleaners',
       'Machine-op-inspct', 'Other-service', 'Priv-house-serv',
       'Prof-specialty', 'Protective-serv', 'Sales', 'Tech-support',
       'Transport-moving', 'Unknown_occupation', 'Amer-Indian-Eskimo',
       'Asian-Pac-Islander', 'Black', 'Other', 'White', 'Female', 'Male',
       'Cambodia', 'Canada', 'China', 'Columbia', 'Cuba', 'Dominican-Republic',
       'Ecuador', 'El-Salvador', 'England', 'France', 'Germany', 'Greece',
       'Guatemala', 'Haiti', 'Holand-Netherlands', 'Honduras', 'Hong',
       'Hungary', 'India', 'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan',
       'Laos', 'Mexico', 'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South',
       'Taiwan', 'Thailand', 'Trinadad&Tobago', 'United-States',
       'Unknown_country', 'Vietnam', 'Yugoslavia'],
      dtype='object')